<ion-content>
  <br>
  <ion-button href="open" > 
     
    <ion-icon name="arrow-back-outline" style="color:black"></ion-icon>
  
    <ion-label><h2 style="color:black">Back</h2></ion-label>

  </ion-button>
  <ion-toolbar>
  <center><ion-title><b>SAFETY TIPS</b></ion-title></center>
</ion-toolbar>
  <br>
 
  <ion-label>
    <center><a  style="color:black"><b>1. Improve safety culture</b></a></center>
    <ion-label>This is a very easy thing to do without spending any money and what it mainly consists of is making sure everyone is on the same page. Employees should know you are focused on safety and you care about their safety.

      Make sure that everyone is comfortable talking about safety and that you talk about it often. Be sure to keep your employees feeling safe! It will improve your safety culture if they feel comfortable sharing with your when they are not safe.</ion-label>
  <br>
    <center><a style="color:black"><b>2. Avoid worker fatigue</b></a></center>
    <ion-label> Avoiding worker fatigue is going to prevent injuries down the line that could have been avoided if the employee was more aware what was going on around them. You can’t do much about fatigue related to sleep sleep unless you are overworking employees, but a lot of fatigue is going to come down to stress.</ion-label>
  <br>
    <center><a style="color:black"><b>3. Hazard communication</b></a></center>
    <ion-label>Know the hazards in your workplace and stay aware of your surroundings. Knowing the hazards in your workplace is obviously going to help you to avoid them! For example: If you know a specific area has trip hazards such as cords to look out for then you will be paying attention to those details.</ion-label>
  <br>
    <center><a style="color:black"><b>4. Take breaks to move</b></a></center>
    <ion-label>Make sure that employees (office workers especially) are taking breaks to move. It’s just not good for you to be staying in hunched positions or be immobile for long periods of time. This leads to fatigue as well!</ion-label>
  <br>
    <center><a style="color:black"><b>5. Keep good posture</b></a></center>
    <ion-label>Pay attention to workplace ergonomics, especially when performing manual labor such as picking things up. This may seem frustrating and tedious but down the road it will prevent injuries from popping up unexpectedly.</ion-label>

  <br> 
    
 
  </ion-label>
</ion-content>

