<ion-content [fullscreen]="true">
  <br>
  <br>
  <br>
  <br>

  <img src="/assets/tap.png" />
  
    <ion-toolbar>
        <center><ion-button href="bats"><ion-label>Batangas City <br> Hotlines</ion-label></ion-button></center>
        <center><ion-button href="safe"><ion-label>Safety Tips</ion-label></ion-button></center>
        <center><ion-button href="gui"><ion-label>Help Guide</ion-label></ion-button></center>
        <center><ion-button href="ab"><ion-label>About Us</ion-label></ion-button></center>
        <center><ion-button href="home"><ion-label>Exit</ion-label></ion-button></center>
      


    </ion-toolbar>
  


  </ion-content>
