<ion-content [fullscreen]="true">
  <br>
  <br>
  <br>
  <br>
  <ion-button href="bats" > 
     
    <ion-icon name="arrow-back-outline" style="color:black"></ion-icon>
  
    <ion-label><h2 style="color:black">Back</h2></ion-label>

  </ion-button>

  <ion-toolbar>
    <center><ion-label>The One Tap Emergency Hotline is Mobile based application . This is similar to the Philippines 911 emergency hotline as medium  of quick response and emergency assistance to people that need help but in form of application unlike the traditional 911 as telephone based. It is a mobile w that provides the emergency hotline number of the different rescue agencies, especially the emergency hotline of PNP , Bureau of Fire Protection , etc. The one Tap Emergency Hotline is application not only to provide emergency hotline number it also has safety tips feature that can quide during a disaster or any emergency.The one Tap Emergency Hotline is only in Batangas City . </ion-label></center>
    <center><ion-label>Develop by : 
     <br> Von Montalbo 
     <br> Carlo Altobar
     <br>Adrianne Escaño
     <br> Andal Janrex</ion-label></center>
    <br>
    <br>
    <img src="/assets/call.png"/>

  </ion-toolbar>
  


  </ion-content>
