<ion-content>
  <br>
  <ion-button href="open" > 
     
    <ion-icon name="arrow-back-outline" style="color:black"></ion-icon>
  
    <ion-label><h2 style="color:black">Back</h2></ion-label>

  </ion-button>
  <ion-toolbar>
  <center><ion-title><b>Help Guide</b></ion-title></center>
</ion-toolbar>
  <br>
 
  <ion-label>
    <center><a  style="color:black"><b>To call for help during disaster here are the steps </b></a></center>
    <ion-label>1. Click the Icon Batangas City Hotlines.
      <br>2. Choose what mode of help you need during the emergency .
      <br>3. Press the call button to redirect in to your phone call</ion-label>

      <br>
    <center><a style="color:black"><b>To access the safety Tips of this application </b></a></center>
    <ion-label> 1. Click the Icon Safety tips. 
      2. Choose which Safety tips you would like to learn or perform during of emergency.
      </ion-label>
  <br>
    <center><a style="color:black"><b>3. Hazard communication</b></a></center>
    <ion-label>1. Click the Icon Safety tips. 
      <br>2. Choose which Safety tips you would like to learn or perform during of emergency.
      </ion-label>
  <br>
    <center><a style="color:black"><b>4. Take breaks to move</b></a></center>
    <ion-label>Make sure that employees (office workers especially) are taking breaks to move. It’s just not good for you to be staying in hunched positions or be immobile for long periods of time. This leads to fatigue as well!</ion-label>
  <br>
    <center><a style="color:black"><b>5. Keep good posture</b></a></center>
    <ion-label>Pay attention to workplace ergonomics, especially when performing manual labor such as picking things up. This may seem frustrating and tedious but down the road it will prevent injuries from popping up unexpectedly.</ion-label>

  <br> 
    
 
  </ion-label>
</ion-content>

